/* 
Approccio Responsive: MOBILE FIRST

Regole di Breakpoint:
- xs: minore o uguale a 552px
- sm: minore o uguale a 640px
- md: minore o uguale a 878px
- lg: maggiore di 878px
*/



/* 
*********************************************
REGOLE DI RESET
********************************************* 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 
*********************************************
REGOLE SETUP (DA DISATTIVARE IN SEGUITO)
********************************************* 
*/




/* 
*********************************************
REGOLE COMMON
********************************************* 
*/

.flex{
    display:flex;
}

/* Impostazione colori presenti nella bozza, con le variabili */
:root{
    --aside-bar-color: black;
    --footer-color: #282828;
    --main-color: #141922;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* 
*********************************************
REGOLE ASIDE BAR
********************************************* 
*/

main .main-aside-bar{
    background-color: var(--aside-bar-color);
    height: 92vh;
    min-width: 10%;
    }


/* 
*********************************************
REGOLE MAIN CONTENT
********************************************* 
*/

main .main-right{
    height: 92vh;
    min-width: 90%;
    background-color: var(--main-color);
    color: white;
}

.main-right .top-bar{
        height: 8vh;
        min-width: 90%;
        padding: 15px 5px;
        text-align: end;
        background-color: rgba(0,0,0,0.7);
        position: fixed;
    }

.main-right button{
    color: white;
    font-weight: bold;
    padding: 8px 30px;
    background-color: inherit;
    border: 1px solid white;
    border-radius: 40px;
}

main .main-content{
    overflow: auto;
    }

    main .menu-bar{
        padding-top: 8vh;
    }

    

    /* 
*********************************************
REGOLE FOOTER
********************************************* 
*/

footer{
    height: 8vh;
    background-color: var(--footer-color);
    color: white;
}