/* 
Approccio Responsive: MOBILE FIRST

Regole di Breakpoint:
- xs: minore o uguale a 552px
- sm: minore o uguale a 640px
- md: minore o uguale a 878px
- lg: maggiore di 878px
*/



/* 
*********************************************
REGOLE DI RESET
********************************************* 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 
*********************************************
REGOLE SETUP (DA DISATTIVARE IN SEGUITO)
********************************************* 
*/

/* .f-track-box{
    background-color: rgb(44, 74, 172);
    border: 1px dashed white;
} */

/* .f-player-box{
    background-color: rgb(44, 74, 172);
    border: 1px dashed white;
} */

/* .f-icons-box{
    background-color: rgb(44, 74, 172);
    border: 1px dashed white;
} */



/* 
*********************************************
REGOLE COMMON
********************************************* 
*/

.flex{
    display:flex;
}

/* Impostazione colori presenti nella bozza, con le variabili */
:root{
    --aside-bar-color: black;
    --footer-color: #282828;
    --main-color: #141922;
    --aside-icon-color: #999999;
    --footer-height: 100px;
    --aside-width: 50px;
}

body{
    font-family: 'Montserrat', sans-serif;
}

body a{
    text-decoration: none;
    font-weight: bold;
}

body li{
    list-style: none;
}

main{
    height: calc(100vh - var(--footer-height));
}

/* 
*******************************************************************
REGOLE ASIDE BAR
*******************************************************************
*/

main .main-aside-bar{
    background-color: var(--aside-bar-color);
    height: calc(100vh - var(--footer-height));
    width: var(--aside-width);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

/* Inizio larghezza immagini */
main .main-aside-bar img{
    width: 1.5625rem;
}

.main-aside-bar #logo img{
    width: 1.875rem;
}

.main-aside-bar #aside-arrow img{
    width: 1rem;
}
/* Fine larghezza immagini */


.aside-bottom{
    margin-bottom: 10px;
}

.main-aside-bar #logo{
    padding: 10px 10px;
}

.main-aside-bar #spotify-name{
    font-size: 1.375rem;
}

.hidden-name{
    font-size: .875rem;
    color: var(--aside-icon-color);
}

.aside-menu-icons span{
    align-self:center;
}

#create-playlist{
    font-size: 1rem;
    color: var(--aside-icon-color);
    padding-left: 10px;
}

#playlist-title{
    color: white;
    font-weight: bold;
    padding: 15px 10px;
}

.fa-square-plus{
    padding-right: 5px;
    font-size: 1.875rem;
}

#spotify-name, #user-name, #home span{
    color: white;
    font-weight: bold;
}

.main-aside-bar li{
    padding: 8px 10px;
}

.bar-icons{
    margin-right: 5px;
}

.main-aside-bar .playlist-bar a:hover{
    color:white;
}


/* 
*********************************************
REGOLE MAIN CENTRAL CONTENT
********************************************* 
*/

main .main-right{
    overflow: auto;
}

main .main-right{
    height: calc(100vh - var(--footer-height));
     /* inserita larghezza 100% (non 100vh perchè crea problemi con alcuni browser
    meno la larghezza della barra aside per gestire la larghezza del main-right) */
    width: calc(100% - var(--aside-width));
    background-color: var(--main-color);
    color: white;
}

main .top-bar{
    height: 100px;
    width: calc(100% - var(--aside-width));
    padding: 15px;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    justify-content: flex-end;
    align-items: center;
}

main .top-bar button{
    height: 40px;
    color: white;
    font-weight: bold;
    padding: 8px 30px;
    background-color: inherit;
    border: 1px solid white;
    border-radius: 40px;
}

main .top-bar button:hover{
    transform: scale(1.2);
}

/* Ho dovuto usare margin-top: 100px per far partire il menu-bar sotto il top-main */
main .menu-bar{
    margin-top: 100px;
}

.menu-bar ul li{
    list-style: none;
    padding: 20px 10px;
    font-weight: bold;
}

.menu-bar ul li a{
    color:var(--aside-icon-color);
}

.menu-bar ul li a:hover{
    color:white;
} 

.menu-bar ul{
    flex-wrap: wrap;
    justify-content: space-around;
}


    
/* INIZIO SEZIONE ALBUMS - MAIN CENTRAL */

.albums-container h1{
    font-size: 1.5625rem;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}

.albums-box{
    margin-top: 10px;
    flex-wrap: wrap;
}

.albums-box article{
    width: calc(100%/2);
    padding: 10px 5px;
}

.album-image img{
    width: 100%;
    margin-bottom: 10px;
    display: block;
} 

.m-album-title{
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}

.m-album-artist{
    text-align: center;
    color: var(--aside-icon-color);
    font-size: .75rem;
}

.albums-container h2{
    font-size: .75rem;
    color: var(--aside-icon-color);
    margin: 10px;
}

.circle-box img{
    border-radius: 100%;
}



/* ------------------------------------------------------
MEDIA QUERIES RESPONSIVE - MAIN (ASIDE BAR + MAIN-RIGHT)
----------------------------------------------------------*/
@media screen and (max-width: 552px) {
   
    .main-aside-bar .hidden-name{
        display:none;
    }

}
 
@media screen and (min-width:553px) {

    main .main-aside-bar{
        width: 230px;
        align-items: flex-start;
    }
    
    .main-aside-bar .hidden-name{
        display: block;
    }

    main .top-bar,
    main .main-right{
        width: calc(100% - 230px);
    }
   
}

@media screen and (min-width: 641px) {
    .albums-box article{
        width: calc(100%/4);
    }
}

@media screen and (min-width: 878px) {
    .albums-box article{
        width: calc(100%/6);
    }
}


/* 
*****************************************************************
REGOLE FOOTER
*****************************************************************
*/

footer{
    height: var(--footer-height);
    background-color: var(--footer-color);
    color: white;
    position: fixed;
    width: 100%;
}

.footer-container{
    height: var(--footer-height);
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.f-song{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-top: 4px;
}

.f-song img{
    max-width: 100%;
} 

.f-song-info{
    padding-right: 15px;
}

#f-band{
    font-size: .875rem;
    font-weight: bold;
}

#f-single-track,
#f-track-name{
    font-size: .75rem;
    color: var(--aside-icon-color);
}

.f-favourite-box{
    flex-direction: column;
    justify-content:center;
}

.f-favourite-box a{
    color: var(--aside-icon-color);
}

.f-player-tools{
    padding-bottom: 7px;
    justify-content: space-between;

}

.f-player-tools li a{
    color: white;
    font-size: 16px;
}

.fa-circle-play{
    font-size: 1.5rem;
}

.f-player-time li{
    font-size: .75rem;
}

.f-player-time{
    padding-bottom: 7px;
    margin-left: 15px;
}

#f-long-line{
    height: 4px;
    width: 80px;
    background-color: var(--aside-icon-color);
    border-radius: 20px 0 0 20px;
}

#f-short-line{
    height: 4px;
    width: 20px;
    background-color: white;
    border-radius: 0px 20px 20px 0;
}

.track-line > div{
    display: inline-block;
}

.track-line{
    margin: 0 10px;
}


.f-icon-tools li a{
    color: white;
    font-size: .875rem;
    padding: 0 5px;
}

.f-icon-tools{
    justify-content: space-around;
}

/* Larghezza contenitore centrale Player footer */
.f-player-box {
    width: 200px;
}

/* Larghezza contenitor laterali footer */
.f-track-box, .f-icons-box {
    width: 180px;
}


/* ---------------------------------------------
MEDIA QUERIES RESPONSIVE - FOOTER 
---------------------------------------------*/
@media screen and (min-width:553px) {

.f-song-info #f-single-track{
    display: inline-block;
}

.f-song-info #f-track-name{
    display: inline-block;
}

.f-song-info{
    padding-right: 20px;
}

}


@media screen and (min-width:641px) {

.f-favourite-box{
    flex-direction: row;
}


.f-favourite-box a{
    padding: 20px 0 0 10px;
}
   
}

